// ANIMATIONS

// slow animation
.modalBack {
	transition: opacity 0.25s ease-in-out;
}
.book,
.bookSuccess,
.soon
{
	transition: all 0.25s ease-in-out;
}

.header,
.header__nav,
.cookSidebar,
.cookNavTrigger,
.good__button,
.minicart__title,
.minicartWrap,
.moreEvents button,
.moreEvents__end
{
    transition: all 0.2s ease-in-out;
}

// fast animation
.btn,
.soc-links__item,
.carousel__control,
.good__button button,
.insta__item,
.bookFormGroup__details,
.minicart__dummy,
.bookForm,
.cookNav ul,
.formRemember
{
    transition: all 0.1s ease-in-out;
}

