// ANIMATIONS

// slow animation
.book,
.modalBack,
.bookSuccess
{
	transition: all 0.3s ease-in-out;
}

.header,
.header__nav,
.cookSidebar,
.cookNavTrigger,
.good__button,
.minicart__title,
.minicartWrap
{
    transition: all 0.2s ease-in-out;
}

// fast animation
.btn,
.soc-links__item,
.carousel__control,
.good__button button,
.insta__item,
.bookFormGroup__details,
.minicart__dummy,
.bookForm,
.cookNav ul
{
    transition: all 0.1s ease-in-out;
}

