/***************************************************
COMMON STYLES
***************************************************/
html, body {
	height:100%;
	min-height:100%;
}

a {
	text-decoration: none;
	cursor:pointer;
	color:$text-clr;
}

a.anchor{
	position: absolute;
	margin-top:-5em;
}
button{
	background:none;
    border:none;
    margin:0;
}
button:focus, input, textarea {outline:0;}
textarea {resize:none;overflow: hidden;}

strong {font-weight:bold !important}

.modalBack{
	opacity:0;
	visibility:hidden;
	width:100vw;
	height:100vh;
	position:fixed;
	background:rgba(0,0,0,0.75);
	z-index:600; 
}

body.modal_open,
body.modal_open ~ html {
	position:relative;
	overflow: hidden;
	height:100%;
}
body.modal_open {
	& .modalBack{
		opacity:1;
		visibility:visible;
	}
}


/***************************************************
FONTS
***************************************************/
@font-face {
	font-family: 'Lora';
	src: url('../fonts/hinted-subset-Lora-Bold.eot');
	src: url('../fonts/hinted-subset-Lora-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-Lora-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-Lora-Bold.woff') format('woff'),
		url('../fonts/hinted-subset-Lora-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/subset-Lato-Regular.eot');
	src: url('../fonts/subset-Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Lato-Regular.woff2') format('woff2'),
		url('../fonts/subset-Lato-Regular.woff') format('woff'),
		url('../fonts/subset-Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/subset-Lato-Bold.eot');
	src: url('../fonts/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-Lato-Bold.woff2') format('woff2'),
		url('../fonts/subset-Lato-Bold.woff') format('woff'),
		url('../fonts/subset-Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/***************************************************
MAIN TYPOGRAPHY
***************************************************/
@import "compass/typography/vertical_rhythm";
$base-font-size: 16px;
$base-line-height: 6px;

@include establish-baseline;

// settings
body{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color:$text-clr;
}
p{
	@include adjust-font-size-to($fs-base, 4);
}
/***************************************************
SUSY GRID
***************************************************/
@import "susy";

$susy: (
  columns: 12,
  gutters: 30px/70px,
  column-width: 70px,
  gutter-position: inside-static,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background
  )
);

@include border-box-sizing;