.p-small {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-xxs);
}
.p-buttons {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-xs, 3);
	letter-spacing:0.2em;
	text-transform: uppercase;
}
.p-secondary {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-sm, 3);
}
.p-base {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-base, 4);
}
.p-compact {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-base, 3);
}
.p-note {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: normal;
	font-style: normal;
	@include adjust-font-size-to($fs-lg, 4);
}
.p-accent {
	font-family: 'Lato', Helvetica, Arial, sans-serif;;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-lg, 4);
}
.p-h5 {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-base, 4);
}
.p-h4 {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-lg, 4);
}
.p-h3 {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-h3, 5);
}
.p-h2 {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-h2, 9);
	@media (max-width: 56em) {
		@include adjust-font-size-to($fs-h2-mob, 7);
	}
	@media (max-width: 40em) {
		@include adjust-font-size-to($fs-h3, 5);
	}
}
.p-h1 {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-h1, 12);
	@media (max-width: 56em) {
		@include adjust-font-size-to($fs-h2, 9);
	}
	@media (max-width: 40em) {
		@include adjust-font-size-to($fs-h2-mob, 7);
	}
}
.p-h1_noscale {
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-style: normal;
	@include adjust-font-size-to($fs-h1, 12);
}

.p-link_black {
	border-bottom:1px solid rgba(186, 186, 186, 0.4);
		&:hover{
			color:$bg-clr;
			border-color: rgba(255, 255, 255, 0.65);
		}
}