//font-sizes
$fs-xxs: 10px;
$fs-xs: 11px;
$fs-sm: 12px;
$fs-base: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-h3: 24px;
$fs-h2: 48px;
$fs-h1: 60px;


//breakpoints
$cnt: 1200px;
$cnt-xs: 1000px;

//colors
$text-clr:#000;
$bg-clr:#FFF;

$accent:#7e0000;
$accent-light:#9e4040;
$accent-back:#f2e5e5;
$accent-dark:#3a0000;

$gray-10:#161616;
$gray-15:#262626;
$gray-25:#434343;
$gray-50:#7c7c7c;
$gray-65:#a3a2a1;
$gray-70:#bababa;

$warning-dark:#cf0000;
$warning-light:#fe0000;


$label1:#fca600;
$label1-dark:#8b5b00;
$label2:#00b056;
$label2-dark:#006d36;
$label3:#7e0000;
$label3-dark:#3a0000;