.carousel {
    position: relative;
    &.carousel_big{
        & .carouselWrap {
            height:100vh;
        }
        & .carousel__item {
            height:100vh;
        }
    }
    &.carousel_static{
        & .carousel__item {
            visibility:hidden;
            opacity:0.7;
        }
        & .carousel__item_isActive {
            visibility:visible;
            opacity:1;
        }
    }
}
.carousel_schedule{
    margin-bottom:rhythm(5);
}

.carouselWrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height:rhythm(68);
}
_:-ms-lang(x), .carouselWrap {
    height:rhythm(68);
}
.carousel__item {
    pointer-events:none;
    position: absolute;
    opacity: 0;
    //min-height:rhythm(68);
    width:100%;
    height:100%;
    transition: opacity 0.3s linear;
    background-size:cover;
    background-position:center;
}
.carousel__item_isActive {
    pointer-events: auto;
    opacity: 1; 
}

.carousel__control { 
    border:none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    height: rhythm(10);
    width: rhythm(10);
    top: calc(50% - 1.875em);
    @media (max-width: 38em) {
        height: rhythm(7);
        width: rhythm(7);
        top: calc(50% - 1.3125em);
    }
    z-index: 300;
    opacity:0.5;
    background-color: $accent;
    background-image:url('../img/carousel__arrow.svg');
}
.carousel__control.prev {
    left: 5%;
    @media (max-width: 24em) {
        left:rhythm(1);
    }
    transform: rotate(180deg);
}

.carousel__control.next {
    right: 5%;
    @media (max-width: 24em) {
        right:rhythm(1);
    }
}

.carousel__control:hover {
    opacity:1;
}

.carouselIndicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: rhythm(7);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    @media (max-width: 30em) {
        display:none;
    }
}

.carouselIndicators li {
    display: inline-block;
    margin: 0 rhythm(1);
    @media (max-width: 38em) {
        margin: 0;
    }
}

.carousel__bullet {
    & button{
        outline:none;
        color:$bg-clr;
        opacity:0.5;
        cursor: pointer;
        display: block;
        @include adjust-font-size-to(48px);
        line-height:rhythm(3, 48px);
        @media (max-width: 38em) {
            @include adjust-font-size-to(36px);
            line-height:rhythm(4, 36px);
        } 
        &:hover{
            color: $accent;
        }
    }
    &.carousel__bullet_isActive {
        & button{
            opacity:0.9;
            cursor:default;
            &:hover{
                color:$bg-clr;
            }
        }
    }
}

.carousel__button{
    margin-top:rhythm(5);
}