.eventHeading {
	background-size:cover;
	background-position: center;
	width:100%;
	min-height:rhythm(65);
	display:flex;
	align-items: center;
	justify-content:flex-end;
	color:$bg-clr;
	padding-top:rhythm(3);
	padding-bottom:rhythm(3);
}
.eventHeadingWrap{
	@include container();
	width:100%;
}
.eventHeading__title{
	text-align:center;
	padding-left:rhythm(2.5);
	padding-right:rhythm(2.5);
	max-width:rhythm(125);
	margin:0 auto;
	margin-bottom:rhythm(8);
	& h1{
		@extend .p-h2;
	}
	@media (max-width: 38em) {
		margin-bottom:rhythm(4);
	}
}
.eventHeading__date{
	@include push(1);
	@include span(3);
	margin-top:rhythm(-2);
	@media (max-width: 38em) {
		@include push(0);
		@include span(12);
		text-align:center;
	}
}

.eventHeading__button{
	text-align:center;
	@include span(4);
	@media (max-width: 38em) {
		@include span(12);
		margin-bottom:rhythm(3);
		margin-top:rhythm(2);
	}
}
.eventHeading__price{
	@include push(1);
	@include span(2);
	& p{
		@extend .p-h3;
		line-height:rhythm(8, 24px);
	}
	&.eventHeading__price_sm p{
		@extend .p-base;
	}
	@media (max-width: 38em) {
		text-align:center;
		@include push(0);
		@include span(12);
	}
}

.event__breadcrumbs{
	text-align:left;
	margin-bottom:rhythm(-1);
}

.event{
	@include container();
	margin:rhythm(8) auto;
	@media (max-width: 63em) {
		max-width:rhythm(115);
	}
}
.event__author{
	@include span(2);
	text-align:center;
	@media (max-width: 63em) {
		@include span(12);
		text-align:left;
	}
	@media (max-width: 24em) {
		text-align:center;
	}
}
.eventAuthor__picture{
	display:inline-block;
	width:rhythm(13);
	height:rhythm(13);
	padding:rhythm(1/2);
	margin-bottom:rhythm(2);
	border-radius:100%;
	border:rhythm(1/3) solid $accent;
	& img{
		border-radius:100%;
		width:100%;
		height:100%;
	}
	@media (max-width: 63em) {
    	vertical-align: middle;
    	margin-bottom:0;
    	margin-right:rhythm(2);
	}
	@media (max-width: 24em) {
		margin-bottom:rhythm(2);
	}
}
.event__author{
	&.event__author_big .eventAuthor__picture{
		width:rhythm(17);
		height:rhythm(17);
	}
}
.eventAuthor__info{
	@media (max-width: 63em) {
		display: inline-block;
    	vertical-align: middle;
    	//text-align: left;
    	//padding-left: rhythm(2);
	}
	@media (max-width: 24em) {
		display:block;
		padding-left:0;
	}
}
.eventAuthor__title {
	& p{
		@extend .p-compact;
	}
	color:$gray-50;
	& strong {
		font-weight:normal !important;
		color:$gray-15;
	}
	& a{
		color:$gray-50;
		border-bottom:rhythm(1/3) solid $gray-70; 
		&:hover{
			color:$gray-10;
			border-color:$gray-25;
		}
	}
	@media (max-width: 63em) {
		display: inline-block;
    	vertical-align: middle;
    }
}
.event__info{
	@include span(7);
	margin-top:rhythm(-1);
	@media (max-width: 63em) {
		@include span(12);
		margin-top:rhythm(6);
	}
}
.eventTags {
	color:$gray-50;
}
.eventTags__item{
	display:inline;
	@extend .p-base;
	&:after{
		content:",";
	}
	&:last-child:after{
		content:"";
	}
}

.event__sidebar{
	@include span(3);
	@media (max-width: 63em) {
		width:100%;
		padding:0;
		margin-top:rhythm(8);
	}
}
.eventSidebar__title{
	margin-top:rhythm(-1);
	margin-bottom:rhythm(2);
	& p{
		@extend .p-h4;
	}
	@media (max-width: 63em) {
		padding:0 rhythm(2.5);
	}
}
.eventRecent__item{
	margin-bottom:rhythm(4);
	color:$gray-15;
	@media (max-width: 63em) {
		@include span(6);
	}
	@media (max-width: 32em) {
		@include span(12);
	}
}
.eventRecent__picture{
	max-width:100%;
	height:auto;
	margin-bottom:rhythm(1);
}
.eventRecent__title{
	& h3{
		@extend .p-h5;
	}
}
.eventRecent__text{
	color:$gray-25;
	& p{
		@extend .p-secondary;
	}
}

.eventReg{
	margin-top:rhythm(4);
	max-width:rhythm(75);
	.checkmark{
		padding-left:rhythm(5);
	}
}
.eventReg__success {
	.eventReg__caption{
		margin-bottom:rhythm(2);
	}
}
.eventReg_success{
	.eventReg__success {
		visibility:visible;
		max-height:rhythm(64);
	}
	.eventForm{
		visibility:hidden;
		max-height:0;
	}
	.checkmark{
		opacity:1;
	}
}
.eventReg__formRemember{
	margin:0 !important;
}
.eventReg__title{
	margin-bottom:rhythm(1);
	color:$gray-15;
	& p{
		@extend .p-h3;
	}
}
.eventReg__caption{
	color:$gray-15;
}
.eventReg__success{
	overflow:hidden;
	visibility:hidden;
	max-height:0;
	& button{
		padding:0;
		border-bottom:1px solid rgba(0, 0, 0, 0.4);
		&:hover{
			color:$text-clr;
			border-color: rgba(0, 0, 0, 0.65);
		}
	}
}

.eventForm{
	overflow:hidden;
	visibility:visible;
	max-height:rhythm(160);
}
.eventForm__tickets{
	text-align:left;
	width:100%;
	margin:rhythm(2) 0 rhythm(2) 0;
	& th{
		color:$bg-clr;
		background:$accent;
	}
	& td{
		color:$gray-15;
		background:$accent-back;
	}
	& td, & th{
		padding:rhythm(1) rhythm(2.5);
		@media (max-width: 24em) {
			padding:rhythm(0.5) rhythm(1.5);
			font-size:$fs-sm;
		}
	}
}
.eventForm__count{
	border-radius:rhythm(1/2);
	color:$gray-15;
	border:1px solid $gray-65;
	padding:rhythm(4/6) rhythm(1) rhythm(2/6) rhythm(1);
	max-width:rhythm(10);
	&.eventForm__count_invalid{
		border-color:$warning-dark;
	}
}
.eventForm__privacy{
	margin-bottom:rhythm(1);
}
.eventFormGroup{
	margin:rhythm(2) 0;
}
.eventFormGroup_radio{
	margin:rhythm(3) 0;
}
.eventForm__radio{
	display:block;
	margin-top:rhythm(1);
}
.eventFormGroup__label{
	@extend .p-compact;
	margin-right:rhythm(1, 14px);
	color:$gray-15;
}
.eventFormGroup__error{
	color:$warning-dark;
	@extend .p-secondary;
	display:none;
}
.eventFormGroup__input{
	color:$gray-15;
	display:block;
	width:100%;
	border-radius:rhythm(1);
	border:1px solid $gray-50;
	padding:rhythm(1) rhythm(2) rhythm(1 - 2/6) rhythm(2);
	margin:rhythm(1) 0;
	@include adjust-font-size-to($fs-base);
}

.eventFormGroup_invalid {
	& > .eventFormGroup__error{
		display:inline-block;
	}
	& > .eventFormGroup__input{
		border-color:$warning-dark;
	}
}

.eventFormGroup__radio {
	cursor:pointer;
}
.eventFormGroup__radioLabel{
	@include adjust-font-size-to($fs-base);
	color:$gray-15;
	cursor:pointer;
	margin-bottom:rhythm(2);
}
.eventReg__pay-caption{
	@extend .p-h4;
	display:none;
}
.eventReg_pay{
	.eventReg__pay-caption{
		display:block;
	}
	.eventReg__bring{
		display:none;
	}
}

.notice{
	margin: rhythm(5) auto rhythm(6) auto;
    border-top: 2px solid $gray-15;
    border-bottom: 2px solid $gray-15;
    width: 50% !important;
    padding: rhythm(4) 0;
    & p{
    	width: 160%;
    	margin-left: -30%;
    	text-align: center;
    	@extend .p-note;
    }
}

.quote{
	background-color:$gray-90;
	border-radius:rhythm(3);
	margin: rhythm(5) auto rhythm(6) auto;
	padding:rhythm(3) rhythm(3) rhythm(2) rhythm(3);
	color:$text-clr;
}
.quoteWrap{
	display:table;
}
.quote__image, .quote__text {
	display:table-cell;
	vertical-align:top;
}
.quote__image {
	text-align:right;
	width:rhythm(10);
	height:rhythm(10);
	background-size:contain;
	background-repeat:no-repeat;
	//background:url('../img/quote.svg') no-repeat;
	&:after{
		content:' ';
		width:rhythm(4);
		height:rhythm(4);
		margin-top:rhythm(-3);
		display:inline-block;
		background:url('../img/quote.svg') no-repeat;
	}
	& img {
		width: 100% !important;
    	padding: 0  !important;
    	border-radius: 100%;
	}
}
.quote_noImage{
	& .quote__image {
		background-image:url('../img/quote.svg');
		&:after{
			display:none;
		}
	}
}
.quote__text {
	padding-left:rhythm(3);
}
.timetable {
	margin-top:rhythm(2);
	margin-bottom:rhythm(6);
	table-layout:fixed;
}
.timetable p{
	text-align:left;
	margin-bottom:0 !important;
}
.timetable th{
	font-weight:bold;
	border-bottom:2px solid $gray-15;
	padding-bottom:rhythm(1);
	@media (max-width: 30em) {
		display:none;
	}
}
.timetable tr td {
	padding-top:rhythm(3);
	&:first-child{
		padding-right:rhythm(6);
	}
	@media (max-width: 30em) {
		display:block;
		box-sizing:border-box; 
		clear:both;
		width:100%;
		padding-top:0;
		padding-right:0;
		&:last-child{
			padding-bottom:rhythm(3);
		}
	}
}

.richText .carousel{
	margin-top:rhythm(6);
	margin-bottom:rhythm(6);
}