.eventHeading {
	background-size:cover;
	background-position: center;
	width:100%;
	min-height:rhythm(65);
	display:flex;
	align-items: center;
	justify-content:flex-end;
	color:$bg-clr;
}
.eventHeadingWrap{
	@include container();
	width:100%;
}
.eventHeading__title{
	text-align:center;
	max-width:rhythm(125);
	margin:0 auto;
	margin-bottom:rhythm(8);
	& h1{
		@extend .p-h2;
	}
}
.eventHeading__date{
	@include push(1);
	@include span(3);
	margin-top:rhythm(-2);
}

.eventHeading__button{
	text-align:center;
	@include span(4);
}
.eventHeading__price{
	@include push(1);
	@include span(2);
	& p{
		@extend .p-h3;
		line-height:rhythm(8, 24px);
	}
	&.eventHeading__price_sm p{
		@extend .p-base;
	}
}

.event{
	@include container();
	margin:rhythm(8) auto;
}
.event__author{
	@include span(2);
	text-align:center;
}
.eventAuthor__picture{
	display:inline-block;
	width:rhythm(13);
	height:rhythm(13);
	padding:rhythm(1/2);
	margin-bottom:rhythm(2);
	border-radius:100%;
	border:rhythm(1/3) solid $accent;
	& img{
		border-radius:100%;
		width:100%;
		height:100%;
	}
}
.event__author{
	&.event__author_big .eventAuthor__picture{
		width:rhythm(17);
		height:rhythm(17);
	}
}
.eventAuthor__title, .eventAuthor__caption{
	color:$gray-15;
	& p{
		@extend .p-compact;
	}
}
.eventAuthor__caption{
	color:$gray-50;
	& a{
		color:$gray-50;
		border-bottom:rhythm(1/3) solid $gray-70; 
		&:hover{
			color:$gray-10;
			border-color:$gray-25;
		}
	}
}

.event__info{
	@include span(7);
	margin-top:rhythm(-1);
}
.eventTags {
	color:$gray-50;
}
.eventTags__item{
	display:inline;
	@extend .p-base;
	&:after{
		content:",";
	}
	&:last-child:after{
		content:"";
	}
}

.event__sidebar{
	@include span(3);
}
.eventSidebar__title{
	margin-top:rhythm(-1);
	margin-bottom:rhythm(2);
	& p{
		@extend .p-h4;
	}
}
.eventRecent__item{
	margin-bottom:rhythm(4);
	color:$gray-15;
}
.eventRecent__picture{
	max-width:100%;
	height:auto;
	margin-bottom:rhythm(1);
}
.eventRecent__title{
	& h3{
		@extend .p-h5;
	}
}
.eventRecent__text{
	color:$gray-25;
	& p{
		@extend .p-secondary;
	}
}

.eventReg{
	margin-top:rhythm(4);
	max-width:rhythm(75);
}
.eventReg__title{
	margin-bottom:rhythm(1);
	color:$gray-15;
	& p{
		@extend .p-h3;
	}
}
.eventReg__caption{
	color:$gray-15;
}

.eventForm__tickets{
	text-align:left;
	width:100%;
	margin:rhythm(2) 0;
	& th{
		color:$bg-clr;
		background:$accent;
	}
	& td{
		color:$gray-15;
		background:$accent-back;
	}
	& td, & th{
		padding:rhythm(1) rhythm(2.5);
	}
}
.eventForm__count{
	border-radius:rhythm(1/2);
	color:$gray-15;
	border:1px solid $gray-65;
	padding:rhythm(4/6) rhythm(1) rhythm(2/6) rhythm(1);
	max-width:rhythm(10);
}
.eventForm__privacy{
	margin-bottom:rhythm(1);
}
.eventFormGroup{
	margin:rhythm(2) 0;
}
.eventFormGroup_radio{
	margin:rhythm(3) 0;
}
.eventForm__radio{
	display:block;
	margin-top:rhythm(1);
}
.eventFormGroup__label{
	display:block;
	color:$gray-15;
}
.eventFormGroup__input{
	color:$gray-15;
	display:block;
	width:100%;
	border-radius:rhythm(1);
	border:1px solid $gray-50;
	padding:rhythm(1) rhythm(2) rhythm(1 - 2/6) rhythm(2);
	@include adjust-font-size-to($fs-base);
}
.eventFormGroup__radio {
	cursor:pointer;

}
.eventFormGroup__radioLabel{
	@include adjust-font-size-to($fs-base);
	color:$gray-15;
	cursor:pointer;
	margin-bottom:rhythm(2);
}