.footer{
	background-image:url('../img/footer__back.jpg');
	background-size:cover;
	background-position:center;
}
.footerContent{
	@include container();
	color:$gray-70;
	padding-top:rhythm(3);
	padding-bottom:rhythm(3); 
	& a{
		color:$gray-70;
	}
}

.footer__business{
	margin-top:rhythm(0.5);
	@include span(5);
	@media (max-width: 74em) {
		@include span(6);
	}
	@media (max-width: 63em) {
		@include span(8);
	}
	
	@media (max-width: 46em) {
		@include span(12);
		margin-bottom:rhythm(2);
	}
	display:inline-block;
	vertical-align:middle;	
}
.footer__text{
	margin-left:rhythm(1.5);
	display:inline-block;
	vertical-align:middle;
	max-width:rhythm(56);
	& p{
		@extend .p-secondary;
	}
	& a{
		@extend .p-link_black;
	}
	@media (max-width: 30em) {
		display:block;
		margin-top:rhythm(2);
		margin-left:0;
		max-width:none;
	}
}
.footer__logo{
	border:none !important;
	display:inline-block;
	vertical-align:middle;
	width:rhythm(7);
	margin-right:rhythm(1);
	& img{
		max-width:100%;		
		height:auto;
	}
	&:hover{
		-webkit-filter: brightness(1.25);
	}
}
.footer__contacts{
	@include span(4);
	margin-top:rhythm(1);
	@media (max-width: 74em) {
		@include span(3);
	}
	@media (max-width: 63em) {
		@include span(4);
	}
	@media (max-width: 46em) {
		@include span(12);
	}

	
	display:inline-block;
	vertical-align:middle;
	& p{
		display:inline-block;
		@extend .p-secondary;
	}
	& a{
		@extend .p-link_black;
	}
}
.footer__link{
	margin-left:rhythm(3);
}

.footer__links{
	text-align:right;
	@include span(3);
	@media (max-width: 63em) {
		@include span(12);
		text-align:left;
		margin-top:rhythm(3);
	}
	
}

.soc-links__item{
	display:inline-block;
	width:rhythm(5);
	height:rhythm(5);
	margin-left:rhythm(1);
	background-image:url('../img/footer__soc-links_flamp.svg');
	//background-size:cover;
	&:hover{
		-webkit-filter: brightness(1.25);
	}
}
.soc-links{
	display:inline-block;
	vertical-align:middle;
	&.soc-links_onWhite .soc-links__item:hover{
		-webkit-filter: brightness(0.75);
	}
}
.soc-links__item_flamp{
	margin-left:0;
	background-image:url('../img/footer__soc-links_flamp.svg');
}
.soc-links__item_fb{
	background-image:url('../img/footer__soc-links_fb.svg');
}
.soc-links__item_insta{
	background-image:url('../img/footer__soc-links_insta.svg');
}
.soc-links__item_tripadv{
	background-image:url('../img/footer__soc-links_tripadv.svg');
}
.soc-links__item_email{
	background-image:url('../img/footer__soc-links_email.svg');
}
.footer__author{
	text-align:right;
	margin-top:rhythm(2);
	& img{
		width:auto;
		height:rhythm(2);
	}
	@media (max-width: 63em) {
		display:inline-block;
		vertical-align:middle;
		margin-top:0;
		margin-left:rhythm(2);
	}
}

.footerTop {
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
	margin-bottom:rhythm(3);
}
.footerLeft{
	@include span(6);
	@media (max-width: 40em) {
		@include span(12);
	}
}
.footerLeft__text{
	margin:rhythm(5) 0 rhythm(1) 0;
	& a{
		@extend .p-link_black;
	}
}
.footerLeft__links{
	margin-bottom:rhythm(5);
	@media (max-width: 56em) {
		margin-top:rhythm(3);
	}
}
.footerLeft__button{
	margin-left:rhythm(5);
	display:inline-block;
	vertical-align:middle;
	@media (max-width: 56em) {
		display:block;
		margin-left:0;
		margin-top:rhythm(3);
	}
}

.footerRight{
	@include span(6);
	@media (max-width: 40em) {
		@include span(12);
	}
	text-align:left !important;
	& .footerForm__inputs {
		display:inline-block;
		margin-right:rhythm(4);
	}
	& .footerForm__button {
		margin-bottom:rhythm(1);
		display:inline-block;
		vertical-align:bottom;
	}
	& .footerSubscribe__success{
		text-align:left;
	}
	& .footerSubscribe__picture {
		margin-top:rhythm(2);
		margin-left:0;
		max-width:rhythm(8);
	}

}

.footerBottom{
	padding:0 rhythm(2.5);
}
.footerBottom__text {
	display:inline-block;
	vertical-align:middle;
	& p {
		display:inline-block;
		padding-top:rhythm(1, 12px);
		@extend .p-secondary;
	}
	& a{
		@extend .p-link_black;
	}
	@media (max-width: 68em) {
		display:block;
	}
}

.footerBottom__author{
	float:right;
	padding-top:rhythm(2);
	//display:inline-block;
	//vertical-align:middle;
	& p {
		@extend .p-secondary;
	}
	@media (max-width: 68em) {
		float:left;
		display:block;
	}
}
.footerBottom__authorTitle, .footerBottom__authorLogo{
	display:inline-block;
	vertical-align:middle;
}
.footerBottom__authorLogo{
	height:rhythm(2.5);
	padding-top:rhythm(0.5);
	width:auto;
}