.footer{
	background-image:url('../img/footer__back.jpg');
	background-size:cover;
	background-position:center;
}
.footerContent{
	@include container();
	color:$gray-70;
	padding-top:rhythm(3);
	padding-bottom:rhythm(3); 
	& a{
		color:$gray-70;
	}
}

.footer__text{
	@include span(4);
	display:inline-block;
	vertical-align:middle;
	& p{
		@extend .p-secondary;
	}
	& a{
		border-bottom:rhythm(1/6) solid rgba(186, 186, 186, 0.5);
		&:hover{
			color:$bg-clr;
			border-bottom:rhythm(1/6) solid rgba(255, 255, 255, 0.65);
		}
	}
}
.footer__contacts{
	@include push(1);
	@include span(4);
	padding-top:rhythm(1);
	display:inline-block;

	vertical-align:middle;
	& p{
		@extend .p-secondary;
	}
	& a{
		border-bottom:rhythm(1/6) solid rgba(186, 186, 186, 0.5);
		&:hover{
			color:$bg-clr;
			border-bottom:rhythm(1/6) solid rgba(255, 255, 255, 0.65);
		}
	}
}
.footer__link{
	margin-left:rhythm(3);
}

.footer__links{
	@include span(3);
	text-align:right;
}

.soc-links__item{
	display:inline-block;
	width:rhythm(5);
	height:rhythm(5);
	margin-left:rhythm(1);
	background-image:url('../img/footer__soc-links_flamp.svg');
	background-size:cover;
	&:hover{
		-webkit-filter: brightness(1.25);
	}
}
.soc-links{
	display:inline-block;
	vertical-align:middle;
}
.soc-links__item_flamp{
	margin-left:0;
	background-image:url('../img/footer__soc-links_flamp.svg');
}
.soc-links__item_fb{
	background-image:url('../img/footer__soc-links_fb.svg');
}
.soc-links__item_insta{
	background-image:url('../img/footer__soc-links_insta.svg');
}
.soc-links__item_tripadv{
	background-image:url('../img/footer__soc-links_tripadv.svg');
}
.soc-links__item_email{
	background-image:url('../img/footer__soc-links_email.svg');
}
.footer__author{
	text-align:right;
	margin-top:rhythm(2);
	& img{
		width:auto;
		height:rhythm(2);
	}
}

.footerTop {
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
	margin-bottom:rhythm(3);
}
.footerLeft{
	@include span(6);
}
.footerLeft__text{
	margin:rhythm(5) 0;
}
.footerLeft__links{
	margin-bottom:rhythm(5);
}
.footerLeft__button{
	margin-left:rhythm(5);
	display:inline-block;
	vertical-align:middle;
}

.footerRight{
	@include span(6);
	text-align:left !important;
	& .footerForm__inputs {
		display:inline-block;
	}
	& .footerForm__button {
		margin-left:rhythm(4);
		margin-bottom:rhythm(1);
		display:inline-block;
		vertical-align:bottom;
	}
}

.footerBottom{
	padding:0 rhythm(2.5);
}
.footerBottom__text, .footerBottom__author{
	display:inline-block;
	vertical-align:middle;
	& p {
		@extend .p-secondary;
	}
}

.footerBottom__author{
	float:right;
}
.footerBottom__authorTitle, .footerBottom__authorLogo{
	display:inline-block;
	vertical-align:middle;
}
.footerBottom__authorLogo{
	height:rhythm(2.5);
	padding-top:rhythm(0.5);
	width:auto;
}