.formPrivacy{
	&:before{
		content: "";
    	display: block;
    	width: rhythm(2);
    	height: rhythm(3);
    	float: left;
    	margin: 0 rhythm(0.5) 0 0;
    	background-image:url('../img/check.svg');
	}
	& p{
		@extend .p-small;
	}
	& a{
		border-bottom:1px solid $gray-25;
	}	
}
.footerSubscribe{
	text-align:center;
	margin:rhythm(4) 0 rhythm(8) 0;
	padding-left:rhythm(2.5);
	padding-right:rhythm(2.5);
}
.footerSubscribe .footerSubscribe__title{
	color:$bg-clr;
}
.footerSubscribe__title{
	& p{
		@extend .p-h3;
	}
}

.footerForm{
	padding-top:rhythm(2);
}
.footerForm__inputs{
	width:100%;
	max-width:rhythm(64);
	margin:0 auto;
}
.footerForm__button{
	margin-top:rhythm(4);
}

.footerFormGroup{
	margin-top:rhythm(2);
}
.footerFormGroup__input{
	@include adjust-font-size-to($fs-base);
	color:$bg-clr;
	outline:0;
	border-radius:0;
	width:100%;
	border:none;
	background:none;
	padding:rhythm(1/2) 0 rhythm(3/6) 0;
	border-bottom:1px solid $gray-50;
}
.footerFormGroup_invalid .footerFormGroup__input{ 
	border-color:$warning-dark;
	&::-webkit-input-placeholder {color:$warning-dark;}
	&::-moz-placeholder          {color:$warning-dark;}
	&:-moz-placeholder           {color:$warning-dark;}
	&:-ms-input-placeholder      {color:$warning-dark;}
}
.footerFormGroup_privacy{
	text-align:left;
	margin-top:rhythm(1);
}
.footerSubscribe__success{
	text-align:center;
	max-width:rhythm(95);
	margin:rhythm(4) auto rhythm(8) auto;
	display:none;
	
	& .footerSubscribe__title{
		margin-top:rhythm(5);
		margin-bottom:rhythm(2);
	}
}
.footerRight {
	& .footerSubscribe__success{
		margin-top:0;
		margin-bottom:0;
	}
	& .footerSubscribe__title{
		margin-top:0;
	}
	& .footerSubscribe__picture{
		margin-bottom:0;
	}
}
.footerSubscribe__picture{
	margin:rhythm(5) auto rhythm(13) auto;
	max-width:rhythm(12);
	& img{
		max-width:100%;
		height:auto;
	}
}

.footerForm_soon{
	padding-top:rhythm(8);
	border-top:1px solid $gray-70;
	margin-top:rhythm(8);
	& .footerFormGroup__input{
		color:$text-clr;
	}
}