// Links
.link {
	display:inline-block;
	vertical-align:middle;
	background:none;
	border:none;
	padding:0;
	color:$accent;
	margin-top:rhythm(2);
	& p{
		@extend .p-buttons;
		font-weight:bold;
		&:after{
			content:"";
			display:inline-block;
			vertical-align:middle;			
			background-image:url('../img/arrow.svg');
			width:rhythm(4, $fs-xs);
			height:rhythm(3, $fs-xs);
		}
	}
}
.link_light{
	color:$bg-clr;
	& p:after{
		background-image:url('../img/arrow_white.svg');
	}
}