.menu{
	@include container();
	margin: rhythm(12) auto;
}
.menu__logo{
	margin-bottom:rhythm(4);
	text-align:center;
	& img{
		max-width:rhythm(28);
		height:auto;
	}
}
.menu__title{
	text-align:center;
	margin-bottom:rhythm(6);
	& h2 {
		@extend .p-h2;
	}
}

.menuWrap{
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
	& li:nth-child(2) .menuCat{
		margin:0 auto;
	}
	& li:nth-child(3) .menuCat{
		margin-left:auto;
	}
	& li{
		@media (max-width: 63em) {
			margin-left:auto;
			margin-right:auto;
		}
	}
	margin-bottom:rhythm(6); 
	
}
.menuCatWrap{
	@include span(4);
	@media (max-width: 63em) {
		@include span(6);
		&:last-child {
			margin-top:rhythm(6);
			@include push(3);
		}
	}
	@media (max-width: 40em) {
		@include span(12);
		margin-top:rhythm(6);
		&:last-child {
			@include push(0);
		}
	}
}
.menuCat{
	max-width:rhythm(46);
	margin:0 auto;
}
.menuCat__title{
	text-align:center;
	margin-bottom:rhythm(3);
	& h3 {
		@extend .p-h3;
	}
	color:$gray-15;
}

.menuItem{
	&:after{
		content: " ";
    	display: block;
    	clear: both;
	}
	margin-bottom:rhythm(2); 
}
.menuItemInfo{
	float:left;
	padding-right:rhythm(3);
	max-width:rhythm(38);
}
.menuItemInfo__title{
	@extend .p-accent;
	color:$gray-15;
}
.menuItemInfo__caption{
	@extend .p-secondary;
	color:$gray-50;
}

.menuItemPrice{
	float:right;
	& p {
		@extend .p-accent;
		color:$gray-15;
	}
}

.menu__links{
}

.menu-link{
	@include span(4);
	&:first-child{
		@include push(2);
	}
	@media (max-width: 63em) {
		@include span(5);
		&:first-child{
			@include push(1);
		}
	}
	@media (max-width: 63em) {
		@include span(6);
		&:first-child{
			@include push(0);
		}
	}

	@media (max-width: 40em) {
		@include span(12);
		margin-bottom:rhythm(3);
	}

}
.menu-link__content{
	max-width:rhythm(56);
	margin:0 auto;
}
.menu-link__image{
	float:left;
	width:rhythm(9);
	height:rhythm(9);
	margin-right:rhythm(3);
	margin-bottom:rhythm(6);
}
.menu-link__title{
	color:$gray-15;
	& p {
		@extend .p-h3;
	}
}
.menu-link__caption{
	color:$gray-15;
}