.minicart{
	
}
.minicart__title{
	cursor:default;
	& p{
		@extend .p-note;
	}
	&:hover .minicart__dummy,
	&:focus .minicart__dummy
	{
		visibility:visible;
		opacity:1;
		margin-top:rhythm(1);
	}
}

.minicart__dummy{
	visibility:hidden;
	opacity:0;
	position:absolute;
	background:rgba(0,0,0,0.77);
	border-radius:rhythm(1);
	padding:rhythm(1) rhythm(2);
	margin-left: rhythm(-36);
	width:rhythm(44);
	margin-top:rhythm(-2);
	& p{
		@include adjust-font-size-to($fs-xs, 2);
		color:$bg-clr;
		text-align:left;
	}
	&::before{
    	width: rhythm(3);
		content: "";
    	display: block;
    	position: absolute;
    	margin-top:rhythm(-2.5);
    	right:rhythm(2);
    	
    	border-left: rhythm(1.5) solid transparent;
    	border-right: rhythm(1.5) solid transparent;
    	border-bottom: rhythm(1.5) solid rgba(0,0,0,0.77);
	}
}