.slide{
	width:100%;
	max-width:rhythm(320);
	height:100vh;
	min-height:rhythm(148);
	max-height:rhythm(170);
	background-repeat:no-repeat;
	background-size:contain;
	@media (max-width: 86em) {
		background-size:cover;
	}
	@media (max-width: 74em) {
		background-size:cover;
		& .slideContentWrap{
			@include span(6);
		}
	}
	@media (max-width: 56em) {
		& .slideContentWrap{
			@include span(8);
			opacity:0.9;
			color:$text-clr;
		}
	}
	@media (max-width: 48em) {
		background-position: top center !important;
		& .slideContentWrap{
			opacity:1;
			background:none;
			@include span(12);
			padding:0 !important;
			align-items: flex-end !important;
			
			&:before{
				display:none;
			}
			&:after{
				display:none;
			}
		}
		& .slideContent{
			margin:0 !important;
			background-color:rgba(255,255,255,0.9);
			padding:rhythm(6) rhythm(3) !important;
		}
	}
}
.slideWrap{
	@include container;
	height:100vh;
	min-height:rhythm(148);
	max-height:rhythm(170);
}
.slideContentWrap{
	@include span(5);
	display:flex;
	align-items: center;
	height:100vh;
	min-height:rhythm(148);
	max-height:rhythm(170);
	background-color: $bg-clr;
}
.slide_left{
	background-position:right center;
	margin-left:auto;
	& .slideContentWrap{
		padding-right:0 !important;
		justify-content:flex-start;
		&:before{
			content:' ';
			height:100%;
    		padding-left: 20%;
    		margin-left: -20%;
    		background: $bg-clr;
    		@media (max-width: 74em) {
    			display:none;
    		}
		}
		&:after{
			content:' ';
			height:100%;
			transform-origin:top;
			background:$bg-clr;
			padding-left:rhythm(25);
			transform:skew(8deg);
			border-right:rhythm(8) solid $accent;
			z-index:0;
		}
	}
	& .slideContent{
		margin-right:rhythm(-16);
		padding-left:rhythm(4);
	}
}
.slide_right{
	background-position:left center;
	margin-right:auto;
	overflow: hidden;
	& .slideContentWrap{
		@include push(7);
		@media (max-width: 74em) {
			@include push(6);
		}
		@media (max-width: 56em) {
			@include push(4);
		}
		@media (max-width: 48em) {
			@include push(0);
		}
		padding-left:0 !important;
		justify-content:flex-end;
		&:before{
			content:' ';
			height:100%;
			transform-origin:top;
			background:$bg-clr;
			padding-right:rhythm(25);
			transform:skew(-8deg);
			border-left:rhythm(8) solid $accent;
			z-index:0;
		}
		&:after{
			content:' ';
			height:100%;
    		padding-right: calc((100vw - 1200px) / 2);
    		margin-right: calc((100vw + 30px - 1200px) / -2);
    		background: $bg-clr;
    		@media (max-width: 74em) {
    			display:none;
    		}
		}
	}
	& .slideContent{
		margin-left:rhythm(-16);
		padding-right:rhythm(4);
	}
}
.slide_big{
	& .slideContentWrap{
		@include push(6);
		@include span(6);
	}
	@media (max-width: 56em) {
		& .slideContentWrap{
			@include push(4);
			@include span(8);
		}
	}
	@media (max-width: 48em) {
		& .slideContentWrap{
			@include push(0);
			@include span(12);
		}
	}
}
.slide_soon{
	& .slideContent{
		text-align:center;
	}
}
.slideContent {
	z-index:10;
}

.slide__title{
	color:$gray-15;
	& h2{
		@extend .p-h2;
	}
}
.slide__text{
	color:$gray-25;
	margin:rhythm(4) 0;
}
.slide__buttons{
	margin:rhythm(4) 0 rhythm(10) 0;
	& button, a {
		margin-bottom:rhythm(3);
		margin-right:rhythm(2);	
	}
	@media (max-width: 48em) {
		margin-bottom:rhythm(4);
	}
}
.slideExtras {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align:center;
}
.slideExtrasWrap{
	width:33%;
	margin-bottom:rhythm(2);
}
.slideExtras__item{
	padding-left:rhythm(1);
	padding-right:rhythm(1);
	& p{
		color:$gray-15;
		@extend .p-compact;
	}
	& img {
		margin-bottom:rhythm(2);
		width:rhythm(11);
		height:auto;
	}
}
.slideInfo{
	margin:rhythm(4) 0;
	color:$gray-15;
}

.slideInfo__item{
	width:50%;
	display:inline-block;
}
.slideInfo__price{
	@extend .p-h3;
}