.slide{
	width:100%;
	height:100vh;
	min-height:rhythm(145);
	max-height:rhythm(200);
	background-repeat:no-repeat;
	background-size:contain;
}
.slideWrap{
	@include container;
	height:100vh;
	min-height:rhythm(145);
	max-height:rhythm(200);
}
.slideContentWrap{
	@include span(5);
	display:flex;
	align-items: center;
	height:100vh;
	min-height:rhythm(145);
	max-height:rhythm(200);
	background-color: $bg-clr;
}
.slide_left{
	background-position:right center;
	& .slideContentWrap{
		padding-right:0 !important;
		justify-content:flex-start;
		&:after{
			content:' ';
			height:100%;
			transform-origin:top;
			background:$bg-clr;
			padding-left:rhythm(25);
			transform:skew(8deg);
			border-right:rhythm(8) solid $accent;
			z-index:0;
		}
	}
	& .slideContent{
		margin-right:rhythm(-16);
	}
}
.slide_right{
	background-position:left center;
	& .slideContentWrap{
		@include push(7);
		padding-left:0 !important;
		justify-content:flex-end;
		&:before{
			content:' ';
			height:100%;
			transform-origin:top;
			background:$bg-clr;
			padding-right:rhythm(25);
			transform:skew(-8deg);
			border-left:rhythm(8) solid $accent;
			z-index:0;
		}
	}
	& .slideContent{
		margin-left:rhythm(-16);
	}
}
.slide_big{
	& .slideContentWrap{
		@include push(6);
		@include span(6);
	}
}
.slideContent {
	z-index:10;
}

.slide__title{
	color:$gray-15;
	& h2{
		@extend .p-h2;
	}
}
.slide__text{
	color:$gray-25;
	margin:rhythm(4) 0;
}
.slide__buttons{
	margin:rhythm(4) 0 rhythm(10) 0;
	& button, a {
		margin-right:rhythm(2);	
	}
}
.slideExtras {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align:center;
}
.slideExtrasWrap{
	width:33%;
	margin-bottom:rhythm(2);
}
.slideExtras__item{
	padding-left:rhythm(1);
	padding-right:rhythm(1);
	& p{
		color:$gray-15;
		@extend .p-compact;
	}
	& img {
		margin-bottom:rhythm(2);
		width:rhythm(11);
		height:auto;
	}
}
.slideInfo{
	margin:rhythm(4) 0;
	color:$gray-15;
}

.slideInfo__item{
	width:50%;
	display:inline-block;
}
.slideInfo__price{
	@extend .p-h3;
}