.sticky{
	position: fixed;
    z-index: 1000;
    top: calc(50% - 1.5em);
    right: rhythm(-25);
    &:hover{
    	right:rhythm(-3.5);
    	padding-right:rhythm(6);
    }
    & p:before{
    	content: "";
    	vertical-align: middle;
    	display: inline-block;
    	width: rhythm(4, 11px);
    	height:rhythm(4, 11px);
    	margin:rhythm(-1, 11px);
    	margin-right:rhythm(2, 11px);
    	background-image:url("../img/sticky.svg");
    }
}