.team{
	@include container();
	margin:rhythm(12) auto rhythm(15) auto;
}

.team__title{
	text-align:center;
	max-width:rhythm(72);
	margin:0 auto;
	margin-bottom:rhythm(8);
	& h2{
		@extend .p-h2;
		color:$gray-15;
	}
}
.teamItems_x4 .teamItem{
	@include span(3);
	@media (max-width: 63em) {
		@include span(6);
		margin-bottom:rhythm(6);
		&:nth-child(2n+3){
			clear:both;
			@include push(3);
		}
	}
	@media (max-width: 32em) {
		@include span(12);
		margin-left: 0 !important;
	}
}
.teamItems_x3 .teamItem{
	@include span(4);
	@media (max-width: 63em) {
		@include span(6);
		margin-bottom:rhythm(6);
		&:nth-child(2n+3){
			clear:both;
			@include push(3);
		}
	}
	@media (max-width: 32em) {
		@include span(12);
		margin-left: 0 !important;
	}
}
.teamItem{
	text-align:center;
	
}

.teamItem__picture{
	border-radius:100%;
	width: 100%;
    max-width: rhythm(40);
	height:auto;
}
.teamItem__title{
	margin-top:rhythm(6);
	margin-bottom:rhythm(2);
	& p{
		@extend .p-h3;
		color:$gray-15;
	}
}
.teamItem__caption{
	color:$gray-25;
}